<nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" style="color:white;">Client Manager</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor02">
     <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" (click)="onOpenModal(null, 'add')">Adicionar Cliente <span class="sr-only">(current)</span></a>
        </li>
     </ul>
     <form class="form-inline my-2 my-lg-0">
        <input type="search"
         name="key" id="searchName" class="form-control mr-sm-2" placeholder="Encontre clientes..." required>
     </form>
  </div>
</nav>

<div class="container" id="main-container">
<div class="row">
  <div *ngFor="let client of clients" class="col-md-6 col-xl-3">
     <div class="card m-b-30">
        <div class="card-body row">
           <div class="col-6">
              <a href=""></a>
           </div>
           <div class="col-6 card-title align-self-center mb-0">
              <h5>{{client?.firstName}}</h5>
              <p class="m-0">{{client?.address}}</p>
              <p class="m-0">{{client?.district}}</p>
           </div>
        </div>
        <div class="accordion" [id]="'accordion'+client?.id">
          <div class="card">
            <div class="card-header" [id]="'card'+client?.id">
              <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" [attr.data-target]="'#collapse'+client?.id" aria-expanded="true" aria-controls="collapseOne">
                  Telefones
                </button>
              </h2>
            </div>
            <div [id]="'collapse'+client?.id" class="collapse"    [attr.aria-labelledby]="client?.id">
              <div class="card-body">
                <table class="table" *ngFor="let phone of client.phones">
                  <tr>
                    <td>
                      {{phone?.numbers}}
                      <a (click)="onOpenModalPhone(phone, 'edit')" class="btn btn-primary tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
                      <a (click)="onOpenModalPhone(phone, 'delete')" class="btn btn-danger tooltips" data-placement="top" data-original-title="Delete"><i class="fa fa-times"></i></a>
                    </td>
                </tr>


                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
           <div class="float-right btn-group btn-group-sm">
            <a (click)="onOpenModal(client, 'phone')" class="btn btn-success tooltips" data-placement="top" data-original-title="New Phone"><i class="fa fa-phone"></i></a>
            <a (click)="onOpenModal(client, 'edit')" class="btn btn-primary tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
            <a (click)="onOpenModal(client, 'delete')" class="btn btn-danger tooltips" data-placement="top" data-original-title="Delete"><i class="fa fa-times"></i></a>
            </div>
        </div>
     </div>
  </div>
</div>

<!-- Add Client Modal -->
<div class="modal fade" id="addClientModal" tabindex="-1" role="dialog" aria-labelledby="addClientModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
       <div class="modal-header">
          <h5 class="modal-title" id="addClientModalLabel">Adicionar Cliente</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
       </div>
       <div class="modal-body">
          <form [formGroup]="clientForm">
            <div class="form-group">
              <label for="firstName">Nome</label>
              <input type="text" formControlName="firstName" class="form-control" id="firstName" placeholder="Nome" >
              <div *ngIf="clientForm.get('firstName')?.invalid && clientForm.get('firstName')?.touched">
                <small class="text-danger" >Nome e Sobrenome juntos possuir 10 caracteres no minimo</small>
              </div>
            </div>
            <div class="form-group">
              <label for="lastName">Sobrenome</label>
              <input type="text" formControlName="lastName" class="form-control" id="lastName" placeholder="Sobrenome" >
              <div *ngIf="clientForm.get('lastName')?.invalid && clientForm.get('lastName')?.touched">
                <small class="text-danger" >Nome e Sobrenome devem ser diferentes e possuir 10 caracteres no minimo</small>
              </div>
            </div>
            <div class="form-group">
              <label for="address">Endereço</label>
              <input type="text" formControlName="address" class="form-control" id="address" placeholder="Address">
            </div>
            <div class="form-group">
              <label for="district">Bairro</label>
              <input type="text" formControlName="district" class="form-control" id="district" placeholder="District" >
            </div>
            <div class="modal-footer">
              <button type="button" id="add-client-form" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
              <button (click)="onAddClient(clientForm)" type="submit" [disabled]="!clientForm.valid"  class="btn btn-primary" >Salvar Cliente</button>
            </div>
          </form>
       </div>
    </div>
  </div>
  </div>

  <!-- Add Phone Modal -->
<div class="modal fade" id="addPhoneModal" tabindex="-1" role="dialog" aria-labelledby="addPhoneModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
       <div class="modal-header">
          <h5 class="modal-title" id="addPhoneModalLabel">Adicione Novo Telefone</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
       </div>
       <div class="modal-body">
          <form [formGroup]="phoneForm">
              <div class="form-group">
                <label for="numbers">Telefone</label>
                <input type="text" onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))" formControlName="numbers" class="form-control">
                <div *ngIf="phoneForm.get('numbers')?.invalid && phoneForm.get('numbers')?.touched">
                  <small class="text-danger" >Telefone Já Adicionado</small>
                </div>
              </div>
            <div class="modal-footer">
              <button type="button" id="add-phone-form" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
              <button  (click)="onAddPhone(phoneForm, addPhoneClient.id )" [disabled]="phoneForm.invalid" type="submit" class="btn btn-primary" >Salvar Telefone</button>
            </div>
          </form>
       </div>
    </div>
  </div>
  </div>


  <!-- Delete Modal -->
<div class="modal fade" id="deleteClientModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
     <div class="modal-content">
        <div class="modal-header">
           <h5 class="modal-title" id="deleteModelLabel">Excluir Cliente</h5>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
           </button>
        </div>
        <div class="modal-body">
           <p>Quer realmente excluir o cliente {{deleteClient?.firstName}}</p>
           <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
              <button (click)="onDeleteClient(deleteClient.id)" class="btn btn-danger" data-dismiss="modal">Yes</button>
           </div>
        </div>
     </div>
  </div>
</div>
</div>

 <!-- Delete Phone Modal -->
 <div class="modal fade" id="deletePhoneModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
     <div class="modal-content">
        <div class="modal-header">
           <h5 class="modal-title" id="deleteModelLabel">Excluir Telefone</h5>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
           </button>
        </div>
        <div class="modal-body">
           <p>Quer realmente excluir o tel {{deletePhone?.numbers}}</p>
           <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
              <button (click)="onDeletePhone(deletePhone.id)" class="btn btn-danger" data-dismiss="modal">Yes</button>
           </div>
        </div>
     </div>
  </div>
</div>

<!-- Edit Phone Modal -->
<div class="modal fade" id="updatePhoneModal" tabindex="-1" role="dialog" aria-labelledby="updatePhoneModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
     <div class="modal-content">
        <div class="modal-header">
           <h5 class="modal-title" id="updatePhoneModalLabel">Atualize Telefone</h5>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
           </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="editPhoneForm">
            <div class="form-group">
              <label for="numbers">Telefone</label>
              <input type="text" onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))" formControlName="numbers"  class="form-control">
              <div *ngIf="editPhoneForm.get('numbers')?.invalid && editPhoneForm.get('numbers')?.touched">
                <small class="text-danger" >Telefone Já Adicionado</small>
              </div>
            </div>
          <div class="modal-footer">
            <button type="button" id="add-phone-form" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            <button  (click)="onUpdatePhone(editPhoneForm, editPhone)" [disabled]="editPhoneForm.invalid" type="submit" class="btn btn-primary" >Atualize Telefone</button>
          </div>
        </form>
        </div>
     </div>
  </div>
</div>

<!-- Notification for no clients -->
<div *ngIf="clients?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
  <div class="alert alert-info" role="alert">
    <h4 class="alert-heading">SEM CLIENTES ADICIONADOS!</h4>
    <p>Clientes não foram encontrados.</p>
  </div>
  </div>
